## Aula 3 - Exemplos 2

### Classe

In [6]:
class Parent:
    pass
    # Construtor
    #def __init__(self, name, age):
    #    self.name = name
    #    self.age = age

In [7]:
p = Parent()

In [3]:
p = Parent('John', 10)
type(p)

__main__.Parent

In [29]:
p.name

'John'

In [30]:
p.age

10

### Atributos de Classe

In [8]:
class Car:
    
    count = 0
    
    def __init__(self, model):
        self.model = model
        Car.count += 1

In [17]:
Car.count

3

In [15]:
c1 = Car('Ferrari')

In [11]:
c1.model

'Ferrari'

In [16]:
c1.count

3

### Herança

In [18]:
class Parent:
    
    # Construtor
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [19]:
class Child(Parent):
    
    # Construtor
    def __init__(self, name, age, grade):
        super().__init__(name, age)
        self.grade = grade

In [20]:
p = Parent('John', 40)

In [21]:
c = Child('Mary', 15, 5)

In [22]:
p.name

'John'

In [23]:
p.age

40

In [29]:
p.grade

50

In [25]:
c.name

'Mary'

In [26]:
c.age

15

In [27]:
c.grade

5

### Encapsulamento

In [30]:
class Account:
    
    def __init__(self, number, special):
        self.number = number
        self.__special = special
        self.__balance = 0
        
    def deposit(self, amount):
        self.__balance += amount
        
    def withdral(self, amount):
        if not self.__special and amount > self.__balance:
            raise Exception('Balance not enough')
        self.__balance -= amount
        
    def upgrade(self):
        self.__special = True
        
    def downgrade(self):
        if self.__balance < 0:
            raise Exception('Downgrade is not possible while balance is negative')

    @property
    def balance(self):
        return self.__balance

In [31]:
a = Account(123, False)

In [32]:
a.balance

0

In [33]:
a.deposit(1000)

In [34]:
a.balance

1000

In [35]:
a.withdral(800)

In [37]:
a.balance

200

In [39]:
a.withdral(300)

Exception: Balance not enough

In [40]:
a.upgrade()

In [41]:
a.withdral(300)

In [42]:
a.balance

-100

In [43]:
a.downgrade()

Exception: Downgrade is not possible while balance is negative

In [44]:
a.deposit(100)

In [45]:
a.balance

0

In [46]:
a.downgrade()

In [47]:
a.balance

0

### Classe abstrata e sobrescrita de método

In [48]:
from abc import ABC, abstractmethod

class Employee(ABC):
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    @abstractmethod
    def bonus(self):
        pass

In [49]:
e = Employee('E1', 1000)

TypeError: Can't instantiate abstract class Employee with abstract methods bonus

In [62]:
class Operator(Employee):
    pass

In [63]:
o = Operator('name', 1000)
o.bonus()

TypeError: Can't instantiate abstract class Operator with abstract methods bonus

In [66]:
class Manager(Operator):
    def bonus(self):
        return self.salary / 3

In [67]:
m = Manager('manager', 2000)
m.bonus()

666.6666666666666

In [60]:
class Director(Manager):
    def bonus(self):
        return self.salary * 2 + 10000

In [61]:
d = Director('director', 5000)
d.bonus()

20000

In [119]:
def listBonus(employess):
    for employee in employees:
        print(employee.bonus())

In [120]:
employees = [Operator('Funcionario Operador', 1000.0),
             Manager('Funcionario Manager', 3000.0),
             Director('Funcionario Director', 10000.0)]

In [121]:
listBonus(employees)

500.0
2500.0
28333.333333333336