## Lista de Exercícios 01

In [1]:
import numpy as np
import pandas as pd

### 1.) Faça uma análise estatística descritiva da base de dados ozone.data.txt, localizada na pasta db, da disciplina

In [10]:
df = pd.read_csv('ozone.data.txt', sep="\t")
df

     rad  temp  wind  ozone
0    190    67   7.4     41
1    118    72   8.0     36
2    149    74  12.6     12
3    313    62  11.5     18
4    299    65   8.6     23
..   ...   ...   ...    ...
106   20    63  16.6     14
107  193    70   6.9     30
108  191    75  14.3     14
109  131    76   8.0     18
110  223    68  11.5     20

[111 rows x 4 columns]

In [11]:
# analise descritiva built-in do pandas
df.describe()

              rad        temp        wind       ozone
count  111.000000  111.000000  111.000000  111.000000
mean   184.801802   77.792793    9.938739   42.099099
std     91.152302    9.529969    3.559218   33.275969
min      7.000000   57.000000    2.300000    1.000000
25%    113.500000   71.000000    7.400000   18.000000
50%    207.000000   79.000000    9.700000   31.000000
75%    255.500000   84.500000   11.500000   62.000000
max    334.000000   97.000000   20.700000  168.000000

In [12]:
# moda
df.mode()

     rad  temp  wind  ozone
0  238.0  81.0  10.3   23.0
1    NaN   NaN  11.5    NaN

In [13]:
# mediana
df.median()

rad      207.0
temp      79.0
wind       9.7
ozone     31.0
dtype: float64

In [14]:
# variancia
df.var()

rad      8308.742179
temp       90.820311
wind       12.668031
ozone    1107.290090
dtype: float64

In [20]:
# diferenca entre o maior e o menor valor do intervalo
df.max()-df.min()

rad      327.0
temp      40.0
wind      18.4
ozone    167.0
dtype: float64

### 2.) Complete uma tabela com um conjunto de 12 números entre 1 e 50. Utilizando os dados criados por você, calcular:
**• Média<br>
• Moda<br>
• Mediana<br>
• Variância amostral<br>
• Desvio padrão amostral<br>
• Coeficiente de variação<br><br>
*Regras:<br>
• Pelo menos um valor deve estar repetido.<br>
• O conjunto de dados deve apresentar, pelo menos, 6 valores únicos.<br>
• NÃO É PERMITIDO escolher todos os números iguais.<br>
• Trabalhos com os mesmos dados serão considerados inválidos.***

In [630]:
def create_array():
    # cria um array de 12 inteiros entre 1 e 50
    return np.random.randint(1,51,12)

In [631]:
def write_array(new_file, array_lst):
    
    with open('students.txt', 'w') as txtFile:
        # escrever cada array de 12 inteiros em uma nova linha
        for row in array_lst:            
            txtFile.write(" ".join(map(str, row)))
            txtFile.write("\n")

In [632]:
def test_array(arr):
    # verificacao de unicos
    unique = np.unique(arr)
    
    # verificacao de repetidos
    m = np.zeros_like(arr, dtype=bool)
    m[np.unique(arr, return_index=True)[1]] = True
    repeat = arr[~m]
    
    # filtrar se nao ha duplicados
    if len(repeat) == 0:
        return False
    
    # filtrar se nao ha 6 unicos
    elif len(unique) < 6:
        return False
    
    # filtrar se todos sao iguais
    elif len(repeat) == len(a)-1:
        return False
    
    else:
        return True

In [633]:
def create_txt():
    
    array_lst = []
    
    # repetir ate ter 50 linhas
    while len(array_lst) < 50:
    
        arr = create_array()
        
        if test_array(arr) == True:
            array_lst.append(arr)
            
    # filtrar por eventuais arrays identicos e repetir caso verdadeiro
    L = {array.tostring(): array for array in array_lst}
    if len(L.values()) < 50:
        create_txt()
    
    # chamar a funcao para escrever a lista de arrays
    write_array('students.txt', array_lst)

In [634]:
def exercicio():
    
    create_txt()
    
    with open('students.txt') as f:
        
        # realizar a analise em cada linha do .txt
        for line in f:
            # convertendo o .txt em array do pandas
            arr = np.fromstring(line, dtype=int, sep=' ')
            
            # printando a analise estatistica descritiva
            print(arr)
            print('média: {:.4f}'.format(np.mean(arr)))
            print('moda: {}'.format(pd.Series(arr).mode()))
            print('mediana: {:.4f}'.format(np.median(arr)))
            print('variância amostral: {:.4f}'.format(np.std(arr, ddof=1)**2))
            print('desvio padrão amostral: {:.4f}'.format(np.std(arr, ddof=1)))
            print('coeficiente de variação: {:.4f}\n'.format(np.std(arr, ddof=1)/np.mean(arr)))

In [635]:
exercicio()

[47 21 15  7 29 25 45  9 28 41 37 47]
média: 29.2500
moda: 0    47
dtype: int64
mediana: 28.5000
variância amostral: 206.5682
desvio padrão amostral: 14.3725
coeficiente de variação: 0.4914

[ 5 29 29 38 50 50 21 20 23 31 33 23]
média: 29.3333
moda: 0    23
1    29
2    50
dtype: int64
mediana: 29.0000
variância amostral: 161.3333
desvio padrão amostral: 12.7017
coeficiente de variação: 0.4330

[15 23  1  5  1 38  3 30 27 23 40 43]
média: 20.7500
moda: 0     1
1    23
dtype: int64
mediana: 23.0000
variância amostral: 243.1136
desvio padrão amostral: 15.5921
coeficiente de variação: 0.7514

[44  3  8 38 27 41 36 33 12 44 15 29]
média: 27.5000
moda: 0    44
dtype: int64
mediana: 31.0000
variância amostral: 210.8182
desvio padrão amostral: 14.5196
coeficiente de variação: 0.5280

[18  7 18 46 29 46 43 31  8 18 35  6]
média: 25.4167
moda: 0    18
dtype: int64
mediana: 23.5000
variância amostral: 225.1742
desvio padrão amostral: 15.0058
coeficiente de variação: 0.5904

[13  7 41 30  6 21 41 37 46 48  4  6]
média: 25.0000
moda: 0     6
1    41
dtype: int64
mediana: 25.5000
variância amostral: 299.8182
desvio padrão amostral: 17.3153
coeficiente de variação: 0.6926

[ 8  2 10 25 33  4  8 19  9 33 42 40]
média: 19.4167
moda: 0     8
1    33
dtype: int64
mediana: 14.5000
variância amostral: 212.0833
desvio padrão amostral: 14.5631
coeficiente de variação: 0.7500

[19 17 17 27 33 39 23 23  7 36 43 43]
média: 27.2500
moda: 0    17
1    23
2    43
dtype: int64
mediana: 25.0000
variância amostral: 133.4773
desvio padrão amostral: 11.5532
coeficiente de variação: 0.4240

[44 20 46 48 18 13  8 46 46 21 20 13]
média: 28.5833
moda: 0    46
dtype: int64
mediana: 20.5000
variância amostral: 250.0833
desvio padrão amostral: 15.8140
coeficiente de variação: 0.5533

[13  9 33 47 32  8 11  9 47  1 50 30]
média: 24.1667
moda: 0     9
1    47
dtype: int64
mediana: 21.5000
variância amostral: 312.6970
desvio padrão amostral: 17.6832
coeficiente de variação: 0.7317

[39  2  1 45  7 36 38 45 26 34 20 12]
média: 25.4167
moda: 0    45
dtype: int64
mediana: 30.0000
variância amostral: 271.7197
desvio padrão amostral: 16.4839
coeficiente de variação: 0.6485

[39 50  9  9 16 37 14  5 37 46  4 23]
média: 24.0833
moda: 0     9
1    37
dtype: int64
mediana: 19.5000
variância amostral: 281.7197
desvio padrão amostral: 16.7845
coeficiente de variação: 0.6969

[ 1 37 18  2 12 36 42  2  8  9 41 44]
média: 21.0000
moda: 0    2
dtype: int64
mediana: 15.0000
variância amostral: 306.9091
desvio padrão amostral: 17.5188
coeficiente de variação: 0.8342

[14 20 39 40 36 10 33 23  9 49  8 20]
média: 25.0833
moda: 0    20
dtype: int64
mediana: 21.5000
variância amostral: 193.3561
desvio padrão amostral: 13.9053
coeficiente de variação: 0.5544

[38 15 44 22  7 20 50 24 21 44  9 48]
média: 28.5000
moda: 0    44
dtype: int64
mediana: 23.0000
variância amostral: 239.0000
desvio padrão amostral: 15.4596
coeficiente de variação: 0.5424

[ 2 25  4 42 24 17 43 39 46 35 46 48]
média: 30.9167
moda: 0    46
dtype: int64
mediana: 37.0000
variância amostral: 266.8106
desvio padrão amostral: 16.3343
coeficiente de variação: 0.5283

[ 8 27 46  4 33 40 17 14 14 18 45 15]
média: 23.4167
moda: 0    14
dtype: int64
mediana: 17.5000
variância amostral: 208.0833
desvio padrão amostral: 14.4251
coeficiente de variação: 0.6160

[ 5  6 15 45 36 13  4  7 28  4 37 47]
média: 20.5833
moda: 0    4
dtype: int64
mediana: 14.0000
variância amostral: 284.9924
desvio padrão amostral: 16.8817
coeficiente de variação: 0.8202

[44 15 14 21 34 32 29 15 22 21 21  2]
média: 22.5000
moda: 0    21
dtype: int64
mediana: 21.0000
variância amostral: 121.7273
desvio padrão amostral: 11.0330
coeficiente de variação: 0.4904

[46 47  8 11 29 24 12  8 27 35  7 42]
média: 24.6667
moda: 0    8
dtype: int64
mediana: 25.5000
variância amostral: 236.4242
desvio padrão amostral: 15.3761
coeficiente de variação: 0.6234

[39 13 21 22  3 41 24 39 25 14 41  4]
média: 23.8333
moda: 0    39
1    41
dtype: int64
mediana: 23.0000
variância amostral: 191.2424
desvio padrão amostral: 13.8290
coeficiente de variação: 0.5802

[46  3 11 25 31 30 10 47 38 13 24 10]
média: 24.0000
moda: 0    10
dtype: int64
mediana: 24.5000
variância amostral: 219.8182
desvio padrão amostral: 14.8263
coeficiente de variação: 0.6178

[45 34 17 13 33 35 49  9 17 29 25  4]
média: 25.8333
moda: 0    17
dtype: int64
mediana: 27.0000
variância amostral: 199.7879
desvio padrão amostral: 14.1346
coeficiente de variação: 0.5471

[42  4 38 42 10 18 28  5  3 33 41 41]
média: 25.4167
moda: 0    41
1    42
dtype: int64
mediana: 30.5000
variância amostral: 266.2652
desvio padrão amostral: 16.3176
coeficiente de variação: 0.6420

[31 29 37 40 46 34 45 42 27 46 14 27]
média: 34.8333
moda: 0    27
1    46
dtype: int64
mediana: 35.5000
variância amostral: 94.6970
desvio padrão amostral: 9.7312
coeficiente de variação: 0.2794

[12  6  4 30 42 44 12 29 15 36  5 31]
média: 22.1667
moda: 0    12
dtype: int64
mediana: 22.0000
variância amostral: 217.4242
desvio padrão amostral: 14.7453
coeficiente de variação: 0.6652

[36 15 18 10 34  3 50 14 49 14 26 37]
média: 25.5000
moda: 0    14
dtype: int64
mediana: 22.0000
variância amostral: 240.4545
desvio padrão amostral: 15.5066
coeficiente de variação: 0.6081

[ 2 33 21 22 26 48 36 13 37 20  6 37]
média: 25.0833
moda: 0    37
dtype: int64
mediana: 24.0000
variância amostral: 189.7197
desvio padrão amostral: 13.7739
coeficiente de variação: 0.5491

[29 15  7 15  8 35 29 50 34 50 13 20]
média: 25.4167
moda: 0    15
1    29
2    50
dtype: int64
mediana: 24.5000
variância amostral: 222.0833
desvio padrão amostral: 14.9025
coeficiente de variação: 0.5863

[ 6 48 33 44 24 26 26  6  4 26  8 32]
média: 23.5833
moda: 0    26
dtype: int64
mediana: 26.0000
variância amostral: 221.3561
desvio padrão amostral: 14.8780
coeficiente de variação: 0.6309

[24  3 28  8  8 29 26 46 39 37 50 16]
média: 26.1667
moda: 0    8
dtype: int64
mediana: 27.0000
variância amostral: 232.6970
desvio padrão amostral: 15.2544
coeficiente de variação: 0.5830

[16 48  7 20 24 18 41 24  7 45 29  9]
média: 24.0000
moda: 0     7
1    24
dtype: int64
mediana: 22.0000
variância amostral: 204.5455
desvio padrão amostral: 14.3019
coeficiente de variação: 0.5959

[14 46 46  2 43 19 33  7 47  3 39 36]
média: 27.9167
moda: 0    46
dtype: int64
mediana: 34.5000
variância amostral: 314.8106
desvio padrão amostral: 17.7429
coeficiente de variação: 0.6356

[23  2  4 34  6 13 48  4 46 32 42  8]
média: 21.8333
moda: 0    4
dtype: int64
mediana: 18.0000
variância amostral: 316.1515
desvio padrão amostral: 17.7807
coeficiente de variação: 0.8144

[ 9 19 18  3 33 12 16 34 19 35 15 36]
média: 20.7500
moda: 0    19
dtype: int64
mediana: 18.5000
variância amostral: 123.6591
desvio padrão amostral: 11.1202
coeficiente de variação: 0.5359

[17 32 25 21 21 42 40 35  5 10 31  3]
média: 23.5000
moda: 0    21
dtype: int64
mediana: 23.0000
variância amostral: 170.6364
desvio padrão amostral: 13.0628
coeficiente de variação: 0.5559

[46 45 18 48 30 43  1 11 13 19 42 45]
média: 30.0833
moda: 0    45
dtype: int64
mediana: 36.0000
variância amostral: 281.7197
desvio padrão amostral: 16.7845
coeficiente de variação: 0.5579

[21 25 46 10  9 18 25 13 37 36 16 37]
média: 24.4167
moda: 0    25
1    37
dtype: int64
mediana: 23.0000
variância amostral: 146.9924
desvio padrão amostral: 12.1240
coeficiente de variação: 0.4965

[18 48 30 20  5 32 21  8 19 21  8  4]
média: 19.5000
moda: 0     8
1    21
dtype: int64
mediana: 19.5000
variância amostral: 163.7273
desvio padrão amostral: 12.7956
coeficiente de variação: 0.6562

[15 29 37 15 39 25 34 44 42 25 19 20]
média: 28.6667
moda: 0    15
1    25
dtype: int64
mediana: 27.0000
variância amostral: 107.8788
desvio padrão amostral: 10.3865
coeficiente de variação: 0.3623

[14 15 34  1 25 17 49  9 41 14 13  6]
média: 19.8333
moda: 0    14
dtype: int64
mediana: 14.5000
variância amostral: 212.3333
desvio padrão amostral: 14.5717
coeficiente de variação: 0.7347

[ 7 39  6  9 20 18 18 46 12 37 39  4]
média: 21.2500
moda: 0    18
1    39
dtype: int64
mediana: 18.0000
variância amostral: 225.6591
desvio padrão amostral: 15.0220
coeficiente de variação: 0.7069

[13 48 23 27 28  2 39 22 27  5 45 43]
média: 26.8333
moda: 0    27
dtype: int64
mediana: 27.0000
variância amostral: 228.3333
desvio padrão amostral: 15.1107
coeficiente de variação: 0.5631

[12  5 23 24 45 22 34 34  4  6 24 35]
média: 22.3333
moda: 0    24
1    34
dtype: int64
mediana: 23.5000
variância amostral: 178.4242
desvio padrão amostral: 13.3576
coeficiente de variação: 0.5981

[ 7  1 37  2 31 12 26  7 40 18 50 13]
média: 20.3333
moda: 0    7
dtype: int64
mediana: 15.5000
variância amostral: 262.2424
desvio padrão amostral: 16.1939
coeficiente de variação: 0.7964

[24 37 24  9 23 19 45 38 32  5 48 22]
média: 27.1667
moda: 0    24
dtype: int64
mediana: 24.0000
variância amostral: 176.5152
desvio padrão amostral: 13.2859
coeficiente de variação: 0.4891

[ 1 15 32 46 49 19 36 21  5 19 48 41]
média: 27.6667
moda: 0    19
dtype: int64
mediana: 26.5000
variância amostral: 277.3333
desvio padrão amostral: 16.6533
coeficiente de variação: 0.6019

[ 7 48 32 12 43 43 26 42 32 43 18  4]
média: 29.1667
moda: 0    43
dtype: int64
mediana: 32.0000
variância amostral: 242.1515
desvio padrão amostral: 15.5612
coeficiente de variação: 0.5335

[ 6 38  1 20 24 35 40  7 23 38 12 21]
média: 22.0833
moda: 0    38
dtype: int64
mediana: 22.0000
variância amostral: 185.1742
desvio padrão amostral: 13.6079
coeficiente de variação: 0.6162

[18 31 28 37 41 38 38 25  3  5 42 19]
média: 27.0833
moda: 0    38
dtype: int64
mediana: 29.5000
variância amostral: 180.8106
desvio padrão amostral: 13.4466
coeficiente de variação: 0.4965